:root {
    --primary-text-color: #363434;
    --secondary-text-color: #ffffff;
    --title-text-color: #212121;
    --accent-text-color: #000000;
    --primery-bg-color: #FFFFFF;
    --secondary-bg-color: #F5F4FA;
    --buttons-color: #F5F4FA;
    --bg-color-html: #ffffff;
    --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}