
.gallery .container {
    
     width: 100%;

    
}

.gallery__box {

    margin: 0 auto;
    max-width: 450px;

   

    @include tablet {
  
    max-width: 720px;
    }
    @include desktop {
     max-width: 750px;
    }

}


.gallery__imag {
    width: 100%;

}


