
.gallery .container {
    
     width: 100%;

    
}

.gallery__box {

    margin: 0 auto;
    border-radius: 15px;
     
    max-width: 280px;

   

    @include tablet {
  
    max-width: 700px;
    }
    @include desktop {
     max-width: 1020px;
    }

}


.gallery__imag {
    width: 100%;

}


