.hero {
  width:105vw;
  margin: 0 auto;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url(../images/background-mob.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  text-align: center;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 105vw;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url(../images/background-tab.jpg);
  }
 
  @media screen and (min-width: 1200px) {
    width:105vw;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url(../images/background.jpg);

  }

  &__box {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include tablet {
      height: 800px;
    }
    @include desktop {
      height: 900px;
    }

  }

  &__title {
    color: var(--secondary-text-color);
    padding-bottom: 30px;

    font-weight: 500;
    font-size: 32px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    @include tablet {
    font-size: 50px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 100px;
     
 
    }
  }
}

