// .hero {
// padding: 0px;
//   width:100%;
//   margin: 0 auto;
//   background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url(../images/background3.jpg);
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center;
//   text-align: center;



//   @media screen and (min-width: 768px) {
//     background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url(../images/background-tab.jpg);
//     background-attachment: fixed;
//   }
 
//   @media screen and (min-width: 1200px) {
//     background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url(../images/background.jpg);
// background-attachment: fixed;
//   }

// body {

// }






.hero {
  background-color: transparent;
  padding: 0px;
      width:100%;
      margin: 0 auto;
              &::after {
                  content: '';
                  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)),
                    url(../images/background-tab.jpg);
                  position: fixed;
                  background-size: cover;
                  background-repeat: no-repeat;
                  background-position: center;
                  left: 0;
                  right: 0;
                  top: 0;
                  bottom: 0;
                  z-index: -1;
              
                }

  &__box {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include tablet {
      height: 800px;
    }
    @include desktop {
      height: 900px;
    }

  }

  &__title {
    color: var(--secondary-text-color);
    padding-bottom: 30px;

    font-weight: 500;
    font-size: 32px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    @include tablet {
    font-size: 50px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 100px;
     
 
    }
  }
}



.footer-hero {

  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url( ../images/saiteImg/footer-hero-mob-3.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  text-align: center;

  @include tablet {
      background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url(../images/saiteImg/footer-hero-tab.jpg);

  }
  @include desktop {
      background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url(../images/saiteImg/footer-hero-desk.jpg);
  }


}

.footer-hero__box {
height: 500px;
@include tablet {
height: 600px;
}
@include desktop {
  height: 700px;
}

}

