.hero {
  width:115vw;
  margin: 0 auto;
  padding: 118px 0px;
  background-image:  url(../images/background-mob.jpg);
 
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    padding: 118px 204px;
    width: 115vw;
    background-image: url(../images/background-tab.jpg);
  }
 
  @media screen and (min-width: 1200px) {
    padding: 200px 0;
    width:115vw;
    background-image:  url(../images/background.jpg);

  }

  &__title {
    color: var(--secondary-text-color);
    padding-bottom: 30px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      width: 700px;
      margin: 0 auto;
    }
  }
}

