.video__box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.video__box img {
margin: 0 auto;
}

iframe {
 display: flex;
 justify-content: center;
    width: 425px;
    height: 238px;

    @include tablet {
    width: 560px;
    height: 315px;
    }

    @include desktop {
        width: 768px;
        height: 430px;
    }
}
